{:paths ["src"]
 :deps {
        io.github.kotoba-lang/log-level-rank
        {:git/url "https://github.com/kotoba-lang/log-level-rank.git"
         :git/sha "785986807843dd2d7503b7f9ec0dde83fd11ee4e"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
